/* Products */


.products{
    /* background-color: blue; */
    margin: 10px;
}


/* Filter products */
.productFilter{
 background-color: #FF6666;
 /* padding: 5px; */
}
.productFilter--container{
     display: flex;
}

.productFilter--container .form--container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.productFilter--container .form--container  select{
   padding: 4px;
      display: flex;
     border: none;
      margin: 15px;
      min-height: 40px;
      min-width: 250px;
    border-radius: 5px;
}
.productFilter--container .form--container  label{
    color: rgb(48, 49, 49);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.productFilter--container .form--container  input{
    min-height: 40px;
    min-width: 250px;
    border: none;
    margin: 8px;
    border-radius: 5px;
}


.submit-catalogue{
    margin:10px;
    background-color: #25D366 !important;
    
}

/* Pdf */

.listPrices{
    margin-bottom: 15px;
}
.listPrices--container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;


    
}

.list--container{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 10px;
border-radius: 10%;   
height: 100%;
}

.list--img-text img{
    width: 80%;

}
.list--pdf{
    background-color: rgb(184, 180, 180);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #b8b8b8;
    padding: 10px;
    display: flex;
   flex-direction: column;
   align-items: center;
}

.list--pdf a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.list--pdf p {
    max-width: fit-content;
    height: 60px;
}

@media (min-width: 750px) {
.catalogo-container{
    margin-top: 100px;
}
}