.productFilter{
 background-color: #FF6666;
 /* padding: 5px; */
}
.productFilter--container{
     display: flex;
}

.productFilter--container .form--container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.productFilter--container .form--container  select{
   padding: 4px;
      display: flex;
     border: none;
      margin: 15px;
      min-height: 40px;
      min-width: 250px;
    border-radius: 5px;
}
.productFilter--container .form--container  label{
    color: rgb(48, 49, 49);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.productFilter--container .form--container  input{
    min-height: 40px;
    min-width: 250px;
    border: none;
    margin: 8px;
    border-radius: 5px;
}


.productFilter--container .form--container  button{
    margin:10px
}