/* Products */


.products{
    margin: 10px;
    margin-bottom: 20px;
}

.products h2{
    margin: 20px;
    font-size: 25px;
}

.product--container{
    margin: 20px;

}

.product--container2{
   margin: 0 auto;
    background-color: #f1eded;
    border-radius: 8%;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.product--container2 img{
    width: 100%;
    height: 100%;
}
.product--image {
border-top-right-radius: 8%;
border-top-left-radius: 8%;

}

.product--cod, .product--price{
    color: #026D00;
    font-size: 18px;
}
.product--cod, .product--price , .product--description , .product--brand{
    margin: 6px;
}

.product--button{
    margin: 8px;
}


.product--msg{
    margin: 5px;
    font-size: 14px;
    font-weight: bolder;
}
/* Paginacion */

.product--pagination--container{
    width: 100%;
}

.pagination--container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination--arrow, .pagination--pageNumber{
    width: 15%;
 height: 2px;
 min-width: 20px;
 margin:8px;
 background-color: transparent;
 color: rgb(2, 68, 2);
 font-weight: bolder;
 font-size: 25px; 
}

.pagination--pageNumber{
    align-self: flex-start;
}
/* Filter products */
.productFilter{
 background-color: #FF6666;

}
.productFilter--container{
     display: flex;
}
.title-productFilter-admin{
    padding-top: 20px;
    margin-bottom: 15px;
}
.productFilter--container .form--container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.productFilter--container .form--container  select{
   padding: 4px;
      display: flex;
     border: none;
      margin: 15px;
      min-height: 40px;
      min-width: 250px;
    border-radius: 5px;
}
.productFilter--container .form--container  label{
    color: rgb(48, 49, 49);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.productFilter--container .form--container  input{
    min-height: 40px;
    min-width: 250px;
    border: none;
    margin: 8px;
    border-radius: 5px;
}

.product--msg{
    margin: 5px;
}
.submit-catalogue{
    margin-top:10px;
    margin-bottom: 25px;
    background-color: #25D366 !important;
    
}

/* Pdf */

.listPrices{
    margin-bottom: 15px;
}
.listPrices h2{
    margin: 25px;
}
.listPrices--container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;   
}

.list--container{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 10px;
border-radius: 10%;   
height: 100%;
}

.list--img-text img{
    width: 80%;
}
.list--pdf{
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #e6e0e0;
    padding: 10px;
    display: flex;
   flex-direction: column;
   align-items: center;
}

.list--pdf a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;

}

.list--pdf p {
    max-width: fit-content;
    height: 60px;
    font-size: 18px;
}

@media (min-width: 750px) {
.catalogo-container{
    margin-top: 100px;
}
.productFilter--container .form--container  select{
      width: 400px;
      height: 45px;
 }
 .productFilter--container .form--container  input{
    height: 45px;
   width: 400px;
}


.product--image{
 width: 350px;
    }

    .product--container2{
        width: 370px;
        margin: 0 auto;
    }
    
}