/* Register */
.register{
    margin-top: 20px;
  }
  
  .register--container{
    margin-top: 20px;
    margin-bottom: 65px;
  }
  
  .register-container h1{
    margin: 30px;
  }

  .register-submit{
    width: 100%;
    margin: 10px;
  }

.register .form--container{
  flex-wrap: nowrap;
}
@media (min-width: 750px) {
  .login-container{
      margin-top: 135px;
  }
 
  .register-container{
    margin-top: 120px;

  }

  .register--container .form--container{
    flex-direction: row;
    margin: auto;
   justify-content: center;
   flex-wrap: wrap;
  }
  }

  
@media (min-width: 990px) {
  .register--container .form--container{
   width: 70%;
  }
  }

  @media (min-width: 1400px) {
    .register--container .form--container{
     width: 50%;
    }
    }