
.header--admin-logo{
    margin: 10px;
}

.link--admin{
   display: flex;
   flex-direction: column;
}

.link--admin a{
font-size: 23px;
margin: 10px;
  
}

@media  (min-width: 750px){

    .header--admin-logo{
        margin-top: 20px;
    }
    
    .link--admin{
        flex-direction: row;
        margin-top: 20px;
  
    }


}

