
.header--top{
   
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;

}

.header--active{
    left: 0%;
    transition: left 1s;
}

.header--inactive{
    left: -100%; 
    transition: left 1s;
}

.header--nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    
}
.header--logo img {
    margin: 15px ;
}

.navLink{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}


  
  


  
@media (min-width: 500px) {
    .header--top{
        width: 42%;
       }
       
.header--menu-button{
    top:60%;
    left:85% !important;
}
}


  
@media (min-width: 650px) {
    .header--top{
        width: 35%;
       }
       
}

@media (min-width:750px) {
    .header--top{
        display: inline-flex;
        background-color: rgb(3, 3, 3);
        flex-wrap: wrap;
        flex-direction: row;
         width: 100%;
        height: 10%;
        position: fixed;
        z-index: 100;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        justify-content: space-evenly;
       } 
       
        .header--nav{
           display: flex;
           flex-wrap: wrap;
           flex-direction: row;
           margin: 10px;
     
       }
       
       .navLink{
           color: #fff;
           text-decoration: none;
           font-weight: 600;
           font-size: 20px;
           margin-top: 10px;
           margin-left: 18px; 
       }
       .header--menu-button{
        display:none !important;
  
    }
    
    
}

/* Botones */
/* .header--down{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between ;
    margin: 5px;
 
} */

.header--menu-button{
    top:80%;
    left:75%;
    color:#fff;
    display:block;
    position: fixed;
    border-radius:50%;
    text-align:center;
    z-index:999;
    transition:  translateY(200px)500ms ease -250ms;
    transition-delay: -250ms;
}


.header--wsp-button{
    top:80%;
    left:2%;
    display:block;
    color:#fff;
    position: fixed;
    border-radius:50%;
    text-align:center;
    z-index:999;
} 


