.coverPage--container{
   background-image: url('../../../../../public/assets/portada/portada-tablet.jpg');
   top: -10px;
   margin: auto;
   height: 45vh;
   background-size: 100% 100%;
   background-repeat:no-repeat;
   background-size: cover;
   position: relative;
}

.coverPage--title{
   color:rgb(255, 255, 255);

    padding: 20px;
}

.coverPage--wsp {
   top:96%;
   left:26%;
   height:5%;
   width:49%;
   text-align: center;
   font-size: 12pt;
   font-weight: bold;
   padding: 4px;
   background-color: #25D366;
   position: absolute;
   color: #ffffff !important;
   text-decoration: none;
   border-radius: 8px;
}

@media (min-width: 450px) {
   .coverPage--container{
      top: -10px;
   padding:13px;
   width: 98vw;
   max-width: fit-content;
   height: 60vh;
   background-repeat:no-repeat;
   background-size: cover;
   position: relative;   
   }
}

@media (min-width: 650px) {
   .coverPage--container{
      top: -10px;
   padding:13px;
   width: 100vw;
   max-width: fit-content;
   height: 65vh;
   background-repeat:no-repeat;
   background-size: cover;
   position: relative;   
   }
}
