.coverPage--container{
   background-image: url('../../../../../public/assets/portada/portada-mobile.jpg');
   margin:10px auto;
   padding:13px;
   width: 100vw;
   height: 50vh;
   /* background-size: 100% 100%; */
   background-repeat:no-repeat;
   background-size: cover;
   position: relative;
}

.coverPage--title{
   color:rgb(255, 255, 255)
}

.coverPage--wsp {
   position: absolute;
   background-color: black;

 text-align: center;
   color: aliceblue !important;
   bottom: -1vh;
   left: 12vh;
}