

.contact--container{
     margin-bottom: 15px;
}

.contact h2{
   margin: 15px;
   font-size: 30px;
}
.form--submit{
    background-color: #FF6666;
}

.error{
    margin: 5px;
    color: #6D0000;
    font-weight: bold;
}
 
 .button--wsp-container{
     margin: 15px;
    }
    .contact-button{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 12pt;
        padding: 6px;
        background-color: #25D366;
        color: #ffffff !important;
        text-decoration: none;
        border-radius: 8px;      
   }

   
   @media (min-width: 750px) {
    .contact{
        margin-top: 100px;
    }
    }