/* Profile */
.profile-container{
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .profile{
    margin: 5px;
  }
  .profile--user-img img{
    border-radius: 6%;
    margin-bottom: 10px;
    width: 70%;
  }
  .profile--user-text{
   margin: 20px;
  }
  .profile--username{
    margin: 10px;
  }
  
  
  .changeAvatar--button{
    background-color: #25D366;
  
     border-radius: 8px;
     padding: 5px;
     color: #fff;
     font-weight: 600;
     font-size: 14px;
  }
  
  .msg-alert p {
    color: #410101  !important;
    font-weight: bolder;
    font-size: 18px;
    margin: 5px;
  }
  .msg--container{
   margin-top: 10px;
  }
  .profile--client-details{
    margin: 15px;
  }
  
  .profile--client-text{
    margin: 15px;
  }
  
  .profile--button{
    background-color: #FF6666;
    padding: 6px;
    font-weight: 600;
  }
  
  
  @media (min-width: 750px) {
    .profile-container {
      margin-top: 100px;
  }

  .profile--user-img img{
    width: 25%;
  }
    }