
.footer--inner--container{
    background-color: rgb(20, 20, 20);
    /* padding-bottom: 140px; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
}

.footer--img img{
    margin: 40px;
}

.footer--text p {
    margin-top: 10px;
    color: #fff;
    margin-bottom: 50px; 
    font-size: 20px; 
   text-align: center;
   vertical-align: top ;
}

@media (min-width: 750px) {
    /* .footer--inner--container{
        padding-bottom: 5%;

    } */
    
}