.suscription {
    background-color: #FF6666;
    width: 100%;
    overflow: hidden;
  }
  .suscription--container .form--container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
   justify-content: center;
    flex-direction:column;  
    align-items: center;
}
.suscription--container .form--container  input{
  margin: 8px;
  min-width: 270px;
  min-height: 20px;
  border-radius: 5px;
  border: none;
   padding: 5px;
}


.form--container{
  align-items: center;
}

@media (min-width: 750px){
  .suscription--container .form--container  input{
    width: 470px;
     height: 30px;
  }
}




/* banner */
.banner {
  background-image: url('../../../public/assets/banners/banner1.jpg');
  margin:10px auto;
  height: 45vh;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}

.banner--title{
  position: absolute;
  text-align: center;
  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 25px;
  color: #fff;
}

/* Media querie banner */
@media (min-width: 650px) {
  .banner {
    height: 62vh;

  }

  .banner--title{
    font-size: 35px;
    margin: 5px;
    top: 25vh;
  }
}



@media (min-width: 900px) {
  .banner {
    height: 65vh;
  }
  .banner--title{
    top: 30vh;
  }
}

@media (min-width: 850px) {
  .banner--title{
    font-size: 40px;
  }
}

  @media (min-width: 1200px) {
    .banner--title{
      font-size: 65px;
    }
    .banner {
      height: 100vh;
    }
    .banner--title{
      top: 40vh;
    }

    @media (min-width: 2000px) {
      .banner {
        height: 90vh;
      }
      .banner--title{
        top: 45vh;
      }
    }
  

}

/* Description */
.description{
  margin: 10px;
}

.description--container img{ 

  max-width: 70%;
}

/* testimonios */
 .testimonials{
  width: 100%; 
}


.testimonials--container{
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.testimonials--button{
 width: 20%;
 height: 2px;
 min-width: 20px;
 margin:5px;
 background-color: transparent;
 color: rgb(2, 68, 2);
 font-weight: bolder;
 font-size: 25px;
}

.testimonial {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.testimonial--active {
  opacity: 100%;
  transition: all 1s;
}

.testimonial--inactive {
  opacity: 0%;
  transition: all 1s;
}

.testimonial--name{
  color: rgb(2, 68, 2) ;
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
}
.testimonial--description{
  width: 100%;
  font-size: 15px;
}
/* brands */


.brands{
  margin-top: 20px;
}

.brands h2{
  font-size: 28px ;
}

.brands h3{
  font-size: 24px ;

}
.brands--pictures img{
  margin: 10px;
  padding: 15px;
  border-radius: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* Login */

.login--password  button{
  margin: 10px;
   padding: 10px;
   font-weight: 700;
}

/* Register */

.register-button{
  margin: 10px;
}

@media (min-width: 750px) {
  .login-container{
      margin-top: 100px;
  }

  .register-container{
    margin-top: 100px; 
  }

  .profile--user-img img{
    max-width: 30%;
  }
  }

/* Profile */
.profile-container{
  margin-top: 15px;
}

.profile{
  margin: 5px;
}
.profile--user-img img{
  border-radius: 10%;
  width: 60%;
  margin-bottom: 10px;

}
.profile--user-text{
 margin: 8px;
}
.profile--username{
  margin: 5px;
}


.changeAvatar--button{
  background-color: #25D366;

   border-radius: 8px;
   padding: 5px;
   color: #fff;
   font-weight: 600;
   font-size: 14px;
}

.msg--container{
 margin-top: 10px;
}
.profile--client-details{
  margin: 15px;
}

.profile--client-text{
  margin: 15px;
}

.profile--button{
  background-color: #FF6666;
  padding: 6px;
  font-weight: 600;
}