
@media  (min-width: 750px) {
    .changePrice--container{
        margin-top: 110px;
    }

    .changePrice--container h1{
        margin: 25px;
        font-size: 35px;
    }

  .select--admin{
     /* margin: auto; */
  }
.changePrice-submit{
    width: 100%;
}
  .changePrice-form , .input--container{
   margin: auto;
  }

  .changePrice .changePrice-form{
      flex-direction: row;
    width: 55%;
      
  }
}