
@media  (min-width: 750px)  {
    
    .listProducts--container{
     margin-top: 100px;
    }
    
    .listProducts--container h1{
        margin: 15px;
    }
     
    .products{
        margin: 10px;
    }
    .products h2{
        margin: 10px;
        font-size: 25px;
    }

    .product--container{
        margin: 15px;
    }

    .product--container img{
        border-radius: 5%;
        max-height: 450px;
    }

    .product--description ,.product--price, .product--category , .product--brand{
        margin: 8px;
    }


    .product--button{
        margin: 5px;
    }
}