 
    .listProducts--container{
     margin-top: 100px;

    }
    
    .listProducts--container h1{
        margin: 15px;
    }
     

    .delete-Admin-Button{
       /* background-color: firebrick; */
       background-color: #FF6666;
    }


    .product--description ,.product--price, .product--category , .product--brand{
        margin: 8px;
    }


    .product--button{
        margin: 5px;
    }
